.contacto h2{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(232, 81, 102);
}

.contacto p{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: center;
 font-size: 1em;
 color: rgb(129, 131, 129);
}

.formulario{
    display: flex;
     align-items: center;
     height: 80%;
      
   
}