body {
  margin: 0;
}
.imagen{
display: block;
margin: 0 auto;
max-height:100%;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  margin-right: 30px;
}

.flex ul{
  list-style-type: none;
  text-align: center;
  font-size: 18px;
}

.flex li{
  display: inline-block;
}
a.selected{
  text-decoration: underline;
  color: rgb(189, 240, 249);
}
a:hover{
  text-decoration-color: rgb(189, 240, 249);;
  text-decoration: underline;
  color: rgb(189, 240, 249);;
}
a{
  padding: 10px;
  color: rgb(53, 40, 37);
  text-decoration: none;

}
.portada{
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra{
  background: #d9d9d9;
}
@font-face {
  font-family: "Mystery Quest";
  src: url("../fuentes/Choplin/Choplin-Medium-DEMO.otf");
}
